In [92]:
#此筆資料總共有幾筆？
import pandas as pd
df = pd.read_csv('women-results.csv')
num_rows = len(df)
print('此筆資料總共有幾筆？',num_rows,'筆')

此筆資料總共有幾筆？ 762 筆

In [89]:
# 資料開始與結束年？

start_year = df.nlargest(1,'Year')
end_year = df.nsmallest(1,'Year')

print(start_year,end_year)

  Gender         Event Location  Year Medal         Name Nationality   Result
0      W  10000M Women      Rio  2016     G  Almaz AYANA         ETH  29:17.4    Gender       Event   Location  Year Medal                Name Nationality  \
85      W  100M Women  Amsterdam  1928     G  Elizabeth ROBINSON         USA

   Result
85   12.2

In [4]:
#此資料的比賽項目有幾個？

num_unique = df['Event'].nunique()
print(num_unique)

23

In [5]:
#這23個比賽項目分別是哪些？
unique_items = df['Event'].unique()
print(unique_items)

['10000M Women' '100M Hurdles Women' '100M Women' '1500M Women'
 '200M Women' '20Km Race Walk Women' '3000M Steeplechase Women'
 '400M Hurdles Women' '400M Women' '4X100M Relay Women'
 '4X400M Relay Women' '5000M Women' '800M Women' 'Discus Throw Women'
 'Hammer Throw Women' 'Heptathlon Women' 'High Jump Women'
 'Javelin Throw Women' 'Long Jump Women' 'Marathon Women'
 'Pole Vault Women' 'Shot Put Women' 'Triple Jump Women']

In [71]:
#10000M Women 最佳成績？
filtered_df = df[df['Event']=='10000M Women']
sorted_filtered_df = filtered_df.sort_values('Result')
first_row = sorted_filtered_df.iloc[0]
print(first_row)
print()

#100M Herdles Women 最佳成績？
A = df[df['Event']=='100M Hurdles Women']
AA = A.sort_values('Result')
AAA = AA.iloc[0]
print(AAA)
print()

#100M Women 最佳成績？
B = df[df['Event']=='100M Women']
BB = B.sort_values('Result')
BBB = BB.iloc[0]
print(BBB)
print()

#High Jump Women 最佳成績？
C = df[df['Event']=='High Jump Women']
CC = C.sort_values('Result')
CCC = CC.iloc[-4]
print(CCC)
print()

#Marathon Women 最佳成績？
D = df[df['Event']=='Marathon Women']
DD = D.sort_values('Result')
DDD = DD.iloc[0]
print(DDD)
print()

Gender                    W
Event          10000M Women
Location                Rio
Year                   2016
Medal                     G
Name            Almaz AYANA
Nationality             ETH
Result              29:17.4
Name: 0, dtype: object

Gender                          W
Event          100M Hurdles Women
Location                   London
Year                         2012
Medal                           G
Name                Sally PEARSON
Nationality                   AUS
Result                      12.35
Name: 40, dtype: object

Gender                       W
Event               100M Women
Location                   Rio
Year                      2016
Medal                        G
Name           Elaine THOMPSON
Nationality                JAM
Result                   10.71
Name: 55, dtype: object

Gender                        W
Event           High Jump Women
Location                 Athens
Year                       2004
Medal                         G
Name           Elena SLESARENKO
Nationality                 RUS
Result                     2.06
Name: 560, dtype: object

Gender                       W
Event           Marathon Women
Location                Sydney
Year                      2000
Medal                        G
Name           Naoko TAKAHASHI
Nationality                JPN
Result                02h23:14
Name: 669, dtype: object

In [74]:
#有沒有人不只比賽一次？

duplicated_values = df['Name'].duplicated(keep=False)
if duplicated_values.any():
    print(df.loc[duplicated_values,'Name'])
else:
    print('沒有找到重複值')

0                    Almaz AYANA
1      Vivian Jepkemoi CHERUIYOT
2                Tirunesh DIBABA
3                Tirunesh DIBABA
4              Elvan ABEYLEGESSE
                 ...
753                Olga RYPAKOVA
754            Caterine IBARGUEN
756       Francoise MBANGO ETONE
758             Tatyana LEBEDEVA
759               Inessa KRAVETS
Name: Name, Length: 381, dtype: object

In [78]:
#有誰比賽超過兩次的？

more_than_two_games = df.groupby('Name').filter(lambda x:len(x)>2)['Name'].unique()
if len(more_than_two_games)>0:
    print('比賽超過兩次的人')
    for name in more_than_two_games:
        print(name)
else:
    print('沒有找到比賽超過兩次的人')

比賽超過兩次的人
Vivian Jepkemoi CHERUIYOT
Tirunesh DIBABA
Derartu TULU
Gete WAMI
Shelly-Ann FRASER-PRYCE
Merlene OTTEY
Renate STECHER
Irena KIRSZENSTEIN
Veronica CAMPBELL-BROWN
Raelene Ann BOYLE
Betty CUTHBERT
Gabriela SZABO
Tatiana KAZANKINA
Gunhild HOFFMEISTER
Kelly HOLMES
Allyson FELIX
Marie-JosÃ© PÃ‰REC
Meseret DEFAR
Lia MANOLIU
Tamara PRESS
Jackie JOYNER
Aleksandra CHUDINA
Barbora SPOTAKOVA
Tatyana LEBEDEVA
Yelena ISINBAEVA
Valerie ADAMS
Nadezhda CHIZHOVA

In [80]:
#比賽超過兩次的人有幾個？
num_more_than_two_games = len(more_than_two_games)
print('比賽超過兩次的人',num_more_than_two_games,'個')

比賽超過兩次的人 27 個