In [1]:
import pandas as pd
df = pd.read_csv('111年3月外籍結婚狀況.csv')
df.head()

,結婚人數按性別、婚姻類型及原屬國籍（地區）分,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 118,Unnamed: 119,Unnamed: 120,Unnamed: 121,Unnamed: 122,Unnamed: 123,Unnamed: 124,Unnamed: 125,Unnamed: 126,Unnamed: 127
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,單位︰人
1,區 域 別,性別,總 ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,本 國 籍,NaN,NaN,大 陸 地 區,NaN,NaN,港 澳 地 區,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,總 計,合 計,已設籍,未設籍,合 計,已設籍,未設籍,合 計,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,澳大利亞,紐西蘭,英 國,法 國,德 國,史瓦帝尼,南 非,賴索托,模里西斯,其 他