In [1]:
import pandas as pd
df = pd.read_csv('women-results.csv')
df.head()

,Gender,Event,Location,Year,Medal,Name,Nationality,Result
0,W,10000M Women,Rio,2016,G,Almaz AYANA,ETH,29:17.4
1,W,10000M Women,Rio,2016,S,Vivian Jepkemoi CHERUIYOT,KEN,29:32.5
2,W,10000M Women,Rio,2016,B,Tirunesh DIBABA,ETH,29:42.6
3,W,10000M Women,Beijing,2008,G,Tirunesh DIBABA,ETH,29:54.7
4,W,10000M Women,Beijing,2008,S,Elvan ABEYLEGESSE,TUR,29:56.3

In [3]:
# 資料開始與結束年？
start_year = df.nlargest(1,'Year')
end_year = df.nsmallest(1,'Year')
print(start_year,end_year)

  Gender         Event Location  Year Medal         Name Nationality   Result
0      W  10000M Women      Rio  2016     G  Almaz AYANA         ETH  29:17.4    Gender       Event   Location  Year Medal                Name Nationality  \
85      W  100M Women  Amsterdam  1928     G  Elizabeth ROBINSON         USA

   Result
85   12.2
    Gender       Event               Location  Year Medal  \
147      W  200M Women                    Rio  2016     G
148      W  200M Women                    Rio  2016     S
149      W  200M Women                    Rio  2016     B
150      W  200M Women                Beijing  2008     G
151      W  200M Women                Beijing  2008     S
152      W  200M Women                Beijing  2008     B
153      W  200M Women                 Sydney  2000     G
154      W  200M Women                 Sydney  2000     S
155      W  200M Women                 Sydney  2000     B
156      W  200M Women              Barcelona  1992     G
157      W  200M Women              Barcelona  1992     S
158      W  200M Women              Barcelona  1992     B
159      W  200M Women            Los Angeles  1984     G
160      W  200M Women            Los Angeles  1984     S
161      W  200M Women            Los Angeles  1984     B
162      W  200M Women               Montreal  1976     G
163      W  200M Women               Montreal  1976     S
164      W  200M Women               Montreal  1976     B
165      W  200M Women                 Mexico  1968     G
166      W  200M Women                 Mexico  1968     S
167      W  200M Women                 Mexico  1968     B
168      W  200M Women                   Rome  1960     G
169      W  200M Women                   Rome  1960     S
170      W  200M Women                   Rome  1960     B
171      W  200M Women               Helsinki  1952     G
172      W  200M Women               Helsinki  1952     S
173      W  200M Women               Helsinki  1952     B
174      W  200M Women                 London  2012     G
175      W  200M Women                 London  2012     S
176      W  200M Women                 London  2012     B
177      W  200M Women                 Athens  2004     G
178      W  200M Women                 Athens  2004     S
179      W  200M Women                 Athens  2004     B
180      W  200M Women                Atlanta  1996     G
181      W  200M Women                Atlanta  1996     S
182      W  200M Women                Atlanta  1996     B
183      W  200M Women                 Moscow  1980     G
184      W  200M Women                 Moscow  1980     S
185      W  200M Women                 Moscow  1980     B
186      W  200M Women                 Munich  1972     G
187      W  200M Women                 Munich  1972     S
188      W  200M Women                 Munich  1972     B
189      W  200M Women                  Tokyo  1964     G
190      W  200M Women                  Tokyo  1964     S
191      W  200M Women                  Tokyo  1964     B
192      W  200M Women  Melbourne / Stockholm  1956     G
193      W  200M Women  Melbourne / Stockholm  1956     S
194      W  200M Women  Melbourne / Stockholm  1956     B
195      W  200M Women                 London  1948     G
196      W  200M Women                 London  1948     S
197      W  200M Women                 London  1948     B

                         Name Nationality Result
147           Elaine THOMPSON         JAM  21.78
148           Dafne SCHIPPERS         NED  21.88
149                Tori BOWIE         USA  22.15
150   Veronica CAMPBELL-BROWN         JAM  21.74
151             Allyson FELIX         USA  21.93
152            Kerron STEWART         JAM     22
153             Pauline DAVIS         BAH  22.27
154     Susanthika JAYASINGHE         SRI  22.28
155          Beverly MCDONALD         JAM  22.35
156             Gwen TORRENCE         USA  21.81
157           Juliet CUTHBERT         JAM  22.02
158             Merlene OTTEY         JAM  22.09
159            Valerie BRISCO         USA  21.81
160  Florence GRIFFITH JOYNER         USA  22.04
161             Merlene OTTEY         JAM  22.09
162    BÃ¤rbel ECKERT-WÃ–CKEL         GDR  22.37
163  Annegret RICHTER-IRRGANG         FRG  22.39
164            Renate STECHER         GDR  22.47
165        Irena KIRSZENSTEIN         POL   22.5
166         Raelene Ann BOYLE         AUS   22.7
167             Jennifer LAMY         AUS   22.8
168             Wilma RUDOLPH         USA     24
169               Jutta HEINE         EUA   24.4
170             Dorothy HYMAN         GBR   24.7
171          Marjorie JACKSON         AUS   23.7
172            Bertha BROUWER         NED   24.2
173         Nadezhda KHNYKINA         URS   24.2
174             Allyson FELIX         USA  21.88
175   Shelly-Ann FRASER-PRYCE         JAM  22.09
176           Carmelita JETER         USA  22.14
177   Veronica CAMPBELL-BROWN         JAM  22.05
178             Allyson FELIX         USA  22.18
179  Debbie FERGUSON-MCKENZIE         BAH   22.3
180        Marie-JosÃ© PÃ‰REC         FRA  22.12
181             Merlene OTTEY         JAM  22.24
182               Mary ONYALI         NGR  22.38
183    BÃ¤rbel ECKERT-WÃ–CKEL         GDR  22.03
184           Natalia BOCHINA         URS  22.19
185             Merlene OTTEY         JAM   22.2
186            Renate STECHER         GDR   22.4
187         Raelene Ann BOYLE         AUS  22.45
188        Irena KIRSZENSTEIN         POL  22.74
189             Edith MCGUIRE         USA     23
190        Irena KIRSZENSTEIN         POL   23.1
191             Marilyn BLACK         AUS   23.1
192            Betty CUTHBERT         AUS   23.4
193          Christa STUBNICK         EUA   23.7
194   Marlene MATHEWS-WILLARD         AUS   23.8
195       Fanny BLANKERS-KOEN         NED   24.4
196         Audrey WILLIAMSON         GBR   25.1
197          Audrey PATTERSON         USA   25.2

In [4]:
#此資料的比賽項目有幾個？

num_unique = df['Event'].nunique()
print(num_unique)

23

In [5]:
#這23個比賽項目分別是哪些？
unique_items = df['Event'].unique()
print(unique_items)

['10000M Women' '100M Hurdles Women' '100M Women' '1500M Women'
 '200M Women' '20Km Race Walk Women' '3000M Steeplechase Women'
 '400M Hurdles Women' '400M Women' '4X100M Relay Women'
 '4X400M Relay Women' '5000M Women' '800M Women' 'Discus Throw Women'
 'Hammer Throw Women' 'Heptathlon Women' 'High Jump Women'
 'Javelin Throw Women' 'Long Jump Women' 'Marathon Women'
 'Pole Vault Women' 'Shot Put Women' 'Triple Jump Women']

In [71]:
#10000M Women 最佳成績
filtered_df = df[df['Event']=='10000M Women']
sorted_filtered_df = filtered_df.sort_values('Result')
first_row = sorted_filtered_df.iloc[0]
print(first_row)
print()

#100M Herdles Women 最佳成績
A = df[df['Event']=='100M Hurdles Women']
AA = A.sort_values('Result')
AAA = AA.iloc[0]
print(AAA)
print()

#100M Women 最佳成績
B = df[df['Event']=='100M Women']
BB = B.sort_values('Result')
BBB = BB.iloc[0]
print(BBB)
print()

#High Jump Women 最佳成績
C = df[df['Event']=='High Jump Women']
CC = C.sort_values('Result')
CCC = CC.iloc[-4]
print(CCC)
print()

#Marathon Women 最佳成績
D = df[df['Event']=='Marathon Women']
DD = D.sort_values('Result')
DDD = DD.iloc[0]
print(DDD)
print()

Gender                    W
Event          10000M Women
Location                Rio
Year                   2016
Medal                     G
Name            Almaz AYANA
Nationality             ETH
Result              29:17.4
Name: 0, dtype: object

Gender                          W
Event          100M Hurdles Women
Location                   London
Year                         2012
Medal                           G
Name                Sally PEARSON
Nationality                   AUS
Result                      12.35
Name: 40, dtype: object

Gender                       W
Event               100M Women
Location                   Rio
Year                      2016
Medal                        G
Name           Elaine THOMPSON
Nationality                JAM
Result                   10.71
Name: 55, dtype: object

Gender                        W
Event           High Jump Women
Location                 Athens
Year                       2004
Medal                         G
Name           Elena SLESARENKO
Nationality                 RUS
Result                     2.06
Name: 560, dtype: object

Gender                       W
Event           Marathon Women
Location                Sydney
Year                      2000
Medal                        G
Name           Naoko TAKAHASHI
Nationality                JPN
Result                02h23:14
Name: 669, dtype: object

In [74]:
#有沒有人不只比賽一次？

duplicated_values = df['Name'].duplicated(keep=False)
if duplicated_values.any():
    print(df.loc[duplicated_values,'Name'])
else:
    print('沒有找到重複值')

0                    Almaz AYANA
1      Vivian Jepkemoi CHERUIYOT
2                Tirunesh DIBABA
3                Tirunesh DIBABA
4              Elvan ABEYLEGESSE
                 ...
753                Olga RYPAKOVA
754            Caterine IBARGUEN
756       Francoise MBANGO ETONE
758             Tatyana LEBEDEVA
759               Inessa KRAVETS
Name: Name, Length: 381, dtype: object

In [75]:
#有誰比賽超過兩次的？

counts = df['Name'].value.counts()
more_than_two = counts.where(counts>2).dropna()
if not more_than_two.empty:
    print(more_than_three)
    
else:
    print('沒找到出現超過兩次的值')

AttributeError: 'Series' object has no attribute 'value'